<%= render 'shared/link_back', locals: { link_path: :back, link_label: 'Back' } %>

<div class="d-flex flex-column flex-md-row justify-content-center align-items-center my-2 gap-4 gap-lg-5">
  <%=
    form_for(
      resource,
      as: resource_name,
      url: registration_path(resource_name),
      html: { method: :put, class: 'card col-11 col-md-7 col-lg-4' }
    ) do |form|
  %>
    <div class="card-header">
      <h2 class="card-title text-center">Edit profile</h2>
    </div>

    <div class="card-body">
      <div class="mb-3">
        <%= form.label :email %>
        <%= form.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control mt-2' %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>

      <div class="mb-3">
        <%= form.label :password %> <i>(leave blank if you don't want to change it)</i>
        <%= form.password_field :password, autocomplete: "new-password", class: 'form-control mt-2' %>
        <% if @minimum_password_length %>
          
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>

      <div class="mb-3">
        <%= form.label :password_confirmation %>
        <%= form.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control mt-2' %>
      </div>

      <div>
        <%= form.label :current_password %> <i>(we need your current password to confirm your changes)</i>
        <%= form.password_field :current_password, autocomplete: "current-password", class: 'form-control mt-2' %>
      </div>

      <%= render "devise/shared/error_messages", resource: resource %>
    </div>

    <div class="card-footer d-flex justify-content-center">
      <%= form.submit "Update", class: 'btn btn-primary' %>
    </div>
  <% end %>

  <div class="card col-11 col-md-3">
    <div class="card-header">
      <h3 class="card-title">Cancel my account</h3>
    </div>

    <div class="card-body">
      <p>Please take into account that this action cannot be undone, and all your posts will be permanently removed</p>
    </div>

    <div class="card-footer d-flex justify-content-center">
      <%=
        button_to(
          "Cancel my account",
          registration_path(resource_name),
          data: { confirm: "Are you sure?", turbo_confirm: "Are you sure that you want to cancel your account?" },
          method: :delete,
          class: 'btn btn-danger'
        )
      %>
    </div>
  </div>
</div>
