<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: 'form-card' }) do |f| %>
  <div class="card-header">
    <h2 class="card-title">Change your password</h2>
  </div>

  <%= f.hidden_field :reset_password_token %>

  <div class="card-body">
    <div class="mb-3">
      <%= f.label :password, "New password" %>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
      <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: 'form-control mt-2' %>
    </div>

    <div>
      <%= f.label :password_confirmation, "Confirm new password" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control mt-2' %>
    </div>

    <%= render "devise/shared/error_messages", resource: resource %>
  </div>

  <div class="card-footer d-flex justify-content-center">
    <%= f.submit "Change my password", class: 'btn btn-primary' %>
  </div>
<% end %>
