<%= form_with(model: post, html: { class: 'form-card' }) do |form| %>
  <div class="card-header">
    <h2 class="card-title text-center"><%= title %></h2>
  </div>

  <div class="card-body">
    <div class="mb-3">
      <%= form.label :image %>
      <%= form.file_field :image, class: 'form-control mt-2' %>
    </div>

    <div class="mb-3">
      <%= form.label :description %>
      <%= form.text_area :description, class: 'form-control mt-2', rows: 2 %>
    </div>

    <div class="form-check">
      <%= form.check_box :public, class: 'form-check-input' %>
      <%= form.label :public, class: 'form-check-label' do %>
        Public <span class="text-secondary">(if selected, other users will see this post)</span>
      <% end %>
    </div>

    <% if post.errors.any? %>
      <div class="mx-1 mt-3">
<!--        <h2><%#= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>-->
        <ul class="list-group list-group-flush">
          <% post.errors.each do |error| %>
            <li class="list-group-item text-danger"><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>

  <div class="card-footer d-flex justify-content-center">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
