<%= link_to post, id: dom_id(post), class: 'card w-25 no-format-link' do %>
  <%= image_tag post.image, alt: post.description, class: 'card-img-top' %>
  <div class="card-body">
    <p class="text-secondary"><%= post.description %></p>
    <p><%= post.public ? 'Public' : 'Private' %></p>
  </div>
  <div class="card-footer">
    <%= yield %>
  </div>
<% end %>