<article class="col">
  <div class="card h-100">
    <%= link_to post, id: dom_id(post), class: 'no-format-link h-100' do %>
      <div class="card-img-top text-center bg-dark">
        <% if post.image.present? %>
          <%= image_tag post.image, alt: post.description, height: '200', class: 'rounded-top post-image' %>
        <% end %>
      </div>
      <div class="card-body">
        <p class="card-text text-secondary flex-grow-1"><%= post.description %></p>
      </div>
    <% end %>
    <div class="card-footer d-flex justify-content-between align-items-center">
      <% if current_page? my_posts_path %>
        <span class="me-2 badge <%= post.public ? 'bg-success' : 'bg-primary' %>">
          <%= post.public ? 'Public' : 'Private' %>
        </span>
      <% end %>
      <span class="fw-semibold text-center"><%= post.created_at.strftime '%Y-%m-%d %H:%M' %></span>
      <%= render partial: 'likes/likes', locals: { likable: post } %>
    </div>
  </div>
</article>