<ul class="nav nav-tabs justify-content-center my-4">
  <% Post::TABS.each_pair do |tab, tab_name| %>
    <li class="nav-item">
      <%= link_to tab_name, posts_path(tab: tab.to_s), class: 'px-4 nav-link' + (@tab.eql?(tab) ? ' active' : '') %>
    </li>
  <% end %>
</ul>

<%= form_with url: request.path, method: :get, class: 'mx-3 mx-sm-5 mb-4 d-flex flex-column flex-sm-row justify-content-end gap-4' do |form| %>
  <%= form.select :sort_by, Post::SORT_METHODS, { selected: params[:sort_by] }, { class: 'form-select w-auto' } %>
  <%= form.submit 'Sort', class: 'btn btn-primary' %>
<% end %>

<section id="posts" class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4 g-4 mx-1 mx-sm-2 mb-5">
  <%= render partial: 'posts/post', collection: @posts %>
</section>

<%= link_to new_post_path, class: 'position-fixed bottom-0 end-0 me-2 me-sm-5 mb-2 mb-sm-5 btn btn-primary fs-3' do %>
  <i class="bi bi-plus-square-fill"></i>
<% end %>

