<%= render 'shared/link_back', locals: { link_label: 'Back', link_path: @show_page_back_link_path } %>

<article class="card col-11 col-md-9 col-lg-7 mx-auto my-2">
  <%= image_tag @post.image, alt: @post.description, class: 'card-img-top' %>
  <div class="card-body">
    <p class="text-secondary"><%= @post.description %></p>
    <p><%= @post.public ? 'Public' : 'Private' %></p>
  </div>

  <% if post_belongs_to_current_user? %>
    <div class="card-footer d-flex justify-content-around align-items-center">
      <%= link_to edit_post_path(@post), class: 'btn btn-primary' do %>
        <i class="bi bi-pencil-fill"></i> Edit
      <% end %>
      <%= button_to @post, method: :delete, class: 'btn btn-danger' do %>
        <i class="bi bi-trash-fill"></i> Destroy
      <% end %>
    </div>
  <% end %>
</article>