<%= render 'shared/link_back', link_label: 'Back', link_path: @show_page_back_link_path %>

<article class="card col-11 col-md-9 col-lg-7 mx-auto my-2">
  <div class="card-img-top text-center bg-dark">
    <% if @post.image.present? %>
      <%= image_tag @post.image, alt: @post.description, class: 'show-post-image rounded-top' %>
    <% end %>
  </div>

  <div class="card-body d-flex flex-column">
    <p class="card-text text-secondary flex-grow-1"><%= @post.description %></p>
    <div class="d-flex">
      <% if @post.user.eql? current_user %>
          <span class="badge <%= @post.public ? 'bg-success' : 'bg-primary' %>">
            <%= @post.public ? 'Public' : 'Private' %>
          </span>
      <% end %>
      <span class="flex-grow-1 text-end fw-semibold"><%= @post.created_at.strftime '%Y-%m-%d %H:%M' %></span>
    </div>
  </div>

  <% if @post.user.eql? current_user %>
    <div class="card-footer d-flex justify-content-around align-items-center">
      <%= link_to edit_post_path(@post), class: 'btn btn-primary' do %>
        <i class="bi bi-pencil-fill"></i> Edit
      <% end %>
      <%= button_to @post, method: :delete, class: 'btn btn-danger' do %>
        <i class="bi bi-trash-fill"></i> Destroy
      <% end %>
    </div>
  <% end %>
</article>