<%= render partial: 'shared/link_back', locals: { text: nil, path: @back_link_path } %>

<article class="card col-11 col-md-9 col-lg-7 mx-auto my-2">
  <div class="card-header d-flex justify-content-between align-items-center">
    <% if @post.user.eql? current_user %>
        <span class="me-2 badge <%= @post.public ? 'bg-success' : 'bg-primary' %>">
          <%= @post.public ? 'Public' : 'Private' %>
        </span>
    <% end %>
    <span class="fw-semibold text-center"><%= @post.created_at.strftime '%Y-%m-%d %H:%M' %></span>
    <%= render partial: 'likes/likes', locals: { likable: @post } %>
  </div>

  <div class="card-img text-center bg-dark">
    <% if @post.image.present? %>
      <%= image_tag @post.image, alt: @post.description, class: 'show-post-image' %>
    <% end %>
  </div>
  <div class="card-body">
    <p class="card-text text-secondary flex-grow-1"><%= @post.description %></p>
  </div>

  <% if @post.user.eql? current_user %>
    <div class="card-footer d-flex justify-content-around">
      <%= link_to edit_post_path(@post), class: 'btn btn-primary' do %>
        <i class="bi bi-pencil-fill"></i> Edit
      <% end %>
      <%= button_to @post, method: :delete, class: 'btn btn-danger' do %>
        <i class="bi bi-trash-fill"></i> Destroy
      <% end %>
    </div>
  <% end %>
</article>
