<!DOCTYPE html>
<html lang="en">
  <head>
    <title>AlbumApp1</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="p-3 text-bg-dark">
      <%= render 'shared/navbar' %>
    </header>
    <% if notice %>
      <%= render 'shared/notice' %>
    <% end %>
    <% if alert %>
      <%= render 'shared/alert' %>
    <% end %>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
