<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Album App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag 'favicon.png' %>
  </head>

  <body>
    <header class="p-3 text-bg-dark">
      <%= render 'shared/navbar' %>
    </header>
    <div id="flash-notice-container">
      <%= render 'shared/flash/notice' %>
    </div>
    <div id="flash-alert-container">
      <%= render 'shared/flash/alert' %>
    </div>
    <% if alert %>
    <% end %>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
